.cartflex{
    display: flex;
   flex-direction: column;
   justify-content: center;
  
}
.cartitems{
    display: flex;
    gap: 6px;
}
.payment-flex{
    flex: 6;
 box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
padding: 0px 10px 10px 0px;
max-width: 500px;
}
.cartdata{
 box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
flex: 4;
    display: flex;
    gap: 10px;
    padding: 10px;
}
.cartimg{
    max-width: 200px;
}
.deletecart{
    background-color: red;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 10px;
    padding: 8px;
    max-width: fit-content;
    cursor: pointer;
}
.cartinfo{
    display: flex;
    gap: 10px;
}
.cartactions{
    display: flex;
    flex-direction: column;
    gap: 10px;
}